.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pagesButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
